body{
   background-image: url(https://images.pexels.com/photos/845405/pexels-photo-845405.jpeg?auto=compress&cs=tinysrgb&w=600 );
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}